DB_HOST=localhost
DB_PORT=5432
DB_USER=simon
DB_PASSWORD=simon123
DB_NAME=simon_movilidad
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=86400
SIMULATE=true
SIMULATE_INTERVAL_MS=3000
PORT=3001
NODE_ENV=development
